<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4" *ngIf="!userId">
                                    <div class="form-group">
                                        <label>Admins</label>
                                        <input type="text" class="form-control" name="user" [(ngModel)]="userAdmin.user">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Documento</label>
                                        <input type="number" class="form-control" name="document" [(ngModel)]="userAdmin.document">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="!userId">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input type="password" class="form-control" name="pass" [(ngModel)]="userAdmin.pass">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <input type="text" class="form-control" name="firstName" [(ngModel)]="userAdmin.firstName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input type="text" class="form-control" name="lastName" [(ngModel)]="userAdmin.lastName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fecha de cumpleaños</label>
                                        <input type="date" class="form-control" name="birthday" [(ngModel)]="userAdmin.birthday">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Correo electrónico</label>
                                        <input type="email" class="form-control" name="email" [(ngModel)]="userAdmin.email">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="tel" class="form-control" name="phone" [(ngModel)]="userAdmin.phone">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <select class="form-control" name="city" [(ngModel)]="userAdmin.city">
                                            <option>Selecciona una ciudad</option>
                                            <option *ngFor="let city of cities" value="city">{{city}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <p *ngIf="saveState === true" class="message success-text pull-right">Se han guardado los datos correctamente</p>
                            <p *ngIf="saveState === false" class="message alert-text pull-right">Ha ocurrido un error, por verifique los datos</p>
                            <br><br>
                            <button type="button" class="btn btn-info btn-fill pull-right" (click)="saveData()">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
